# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
venv/
.venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp

# Логи
*.log

# Сейвы и флаги игры
save_*.json
warning_accepted.flag
names_pets.txt

# PyInstaller
build/
dist/
*.spec

# ОС
Thumbs.db
Desktop.ini
.DS_Store

# Временное
*.tmp
*.bak